.head a{
    display: block;
    color:white;
    text-decoration: none;
    width: 80px;
    font-weight: bold;
}
.head a:hover{
    background-color:#b12121;
    color: yellow;
}
.logo{
    margin: 6px auto;
    width: 1200px;
}

.pic_title{
    width: 680px;
    height: 40px;
    line-height: 40px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: #ff9c01;
    margin: 0px 10px 10px;
    text-indent: 20px;
    float: left;
}

.img1{
    width: 150px;
    height: 180px;
    margin: 0 0 5.2px;
    padding: 5px;
    border: 1px solid #ccc;;

}

.img2{
    width: 160px;
    height: 280px;

}
dl{
    width: 152px;
    float: left;
    margin: 0px 10px 10px;
    
}

dd{
    font-size: 12px;
    font-family: microsoft yahei;
    float: left;
}

.price{
    color: red;
    /* font:15px/1em 微软雅黑; */
    font-size: 15px;
    font-family: microsoft yahei;
    font-weight: 700;
    float: left;
}
.people{
    color: #cccccc;
    /* font:12px/1em 微软雅黑; */
    font-size: 12px;
    font-family: microsoft yahei;
    float: right;
}

#box{
    margin: 0 auto;
    width: 1200px;
    display: block;
}
.shop{
    float:left;
    width: 690px;

}
.leftbox{
    width: 220px;
    border: 1px solid #e5e4e1;
    float: left;
}

ul li{
    list-style: none;
}

.leftbox li{
    float: left;
    height: 33px;
    width: 220px;
    line-height: 33px;
    font-size: 14px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e4e1;
}
.leftbox_title{
    float: left;
    height: 33px;
    width: 220px;
    line-height: 33px;
    font-size: 15px;
    background-color: #e5e4e1;
    border-bottom: 1px solid #e5e4e1;
    text-indent: 20px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #000;
}
.leftbox li a:hover{
    color: red;
}
.img3 img{
    width: 8px;
    height: 8px;
    margin: 13px 10px;
    float: left;
}
.img4{
    float: right;
}
