@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}

/*topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31px;}
.collection{background:url(../images/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px; background-color:#1D7AD9;}
.logo{padding-left:41px; padding-top:13px;}

/*购物车*/
.shopCar{width:145px; height:35px;background-color:#FF8C00; margin-top:23px;font:14px/35px "Microsoft YaHei", "微软雅黑"; color:#FFF; margin-right:59px; display:inline;}
.shopText{/*font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; line-height:35px;*/  height:100%; width:87px; border-right:#E27A00 solid 1px; background:url(../images/shopIcon.jpg) 10px center no-repeat; text-indent:40px;}
.shopNum{width:27px; height:35px; border-left:#FF9C01 solid 1px; background:url(../images/sj.jpg) 33px center no-repeat; text-align:right; padding-right:29px;}


/*组件*/
.select{border:#999 solid 1px; height:22px; line-height:22px; float:left; background-color:#FFF; padding-left:10px; padding-right:20px; position:relative; z-index:4;}
.select h3{font-size:12px; font-weight:normal;}
.show_select{position:absolute; left:-1px; top:22px; background-color:#FFF; width:100%;border:#999 solid 1px; display:none;}
.show_select li{padding-left:10px;}

/*购物车*/
.stepBox{width:396px; padding-top:26px;}
.step{background:url(../images/step.jpg) left top no-repeat; height:19px;}
.step_text{color:#FFF; font-size:12px; line-height:30px;}
.step_text li{float:left;}
.s01,.s03{width:30%;}
.s02{width:40%; text-align:center;}
.s03{text-align:right;}
.step_text .active{color:#F3E402; font-weight:bold;}
.shoppingCart{padding-top:10px;}
.shopping_item{border:#ccc solid 1px;}
.shopping_tit{height:31px; background:url(../images/shopping_bg.jpg) left top repeat-x;  color:#444444; font:16px/31px "Microsoft YaHei", "微软雅黑"; text-indent:12px; border-bottom:#E3E3E3 solid 1px;}
.padding_shop{padding:25px 30px;}
.shopping_list_text{float:left; width:76px; line-height:24px;}
.cart_tel,.input{vertical-align:middle;}
.cart_tel{display:inline-block; height:24px; line-height:24px;}
.shopping_list li{height:24px; margin-bottom:10px;}
.shopping_list_text em{color:#F30; font-style:normal; margin-right:5px;} 
.input{height:22px; line-height:22px\9; border:#CCC solid 1px; padding:0 6px; width:110px;}
.input_b{width:392px;}
.input_s{width:64px;}
.input_s2{width:84px;}
.jian{padding:0 3px;}
.affirm{width:114px; height:28px;  background:url(../images/sh_btn.jpg) left top no-repeat;}
.radio{position:relative; top:3px; margin-right:4px;}
.backCar{float:right; font-size:12px; font-family:"宋体"; margin-right:33px; color:#3377FF;}
.backCar:hover{text-decoration:underline;}
.cart_head{padding-top:5px;}
.cart_head .cart_item{line-height:28px;}
.cart_item{border-bottom:#CCC solid 1px; float:left;}
.t_name{width:440px; padding-left:30px;}
.t_price{width:134px;}
.t_return{width:136px;}
.t_num{width:135px;}
.t_subtotal{width:123px;}
.t_red{color:red;}

/*商品信息*/
.cart_cont{border-bottom:solid 1px #ccc;}
.cart_cont .cart_item{border-bottom:none;}
.cart_cont .t_price,
.cart_cont .t_return,
.cart_cont .t_num,
.cart_cont .t_subtotal{line-height:37px;}
.cart_shopInfo img{width:90px; height:100px; display:block; float:left;}
.cart_shopInfo_cont{padding-left:90px; font-size:12px;}
.cart_link{line-height:37px; margin-bottom:30px;}
.cart_link a:hover{text-decoration:underline;}
.cart_info{color:#000;}
.cart_message{line-height:40px; padding-left:30px; margin-bottom:10px;}
.cart_prompt{line-height:40px; padding-left:30px; color:red;}
.cart_prompt_icon{width:12px; height:12px; display:inline-block; background-position:0 -19px; margin-right:11px;}
.pb_10{padding-bottom:10px;}
.cart_no_bor{border-bottom:none;}
.cart_rmb{margin-bottom:16px;}
.cart_rmb i{font-size:14px; color:#999; font-style:normal;}
.cart_rmb span{font:bold 24px/1 Verdana; color:red;}
.cart_btnBox{text-align:right;}
.cart_btn{width:165px; height:33px; background-color:#E50007; font:18px/33px "Microsoft YaHei", "微软雅黑"; color:#FFF;}







