body{
    width: 100%;
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{
    border: none;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.header{
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-family: 宋体;
}
.top0{
    width: 1200px;
    margin: 0 auto;
    
}
.top0 span,.top0_left a{
    font-weight: 700;
    color: #f60;
}

.top0_left,.top0 p,.top0 span{
    float: left;
}


.top0_right{
    float: right;
}

.img_top_left{
    float: left;
    margin: 7.5px 0px;
}
.img_top_right{
    float: left;
    margin: 9.5px 0px;
    margin-right: 10px;
}
.shoppingcart{
    float: left;
    margin-left: 15px;
}
.img_shoppingcart{
    float: left;
    margin: 5px 5px 0px 0px;
}
.nav{
    width: 100%;
    background: #ce2626;
    color: #fff;
    margin: 5px 0px 10px;
    float: left;
}
.head{
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    
}
.head li{
    float: left;
    width: 90px;
    text-align: center;
    margin-right: 15px;
}
.ul_nav{
    list-style: none;
    position: absolute;
    /* height: 100%; */
    text-align: center;
    margin-left:200px;
}

.head a{
    display: block;
    color:white;
    text-decoration: none;
    width: 80px;
    font-weight: bold;
}
.head a:hover{
    background-color:#b12121;
    color: yellow;
}
.logo{
    margin: 6px auto;
    width: 1200px;
}


.footer{

    top: 10px;
    width: 100%;
    height: 310px;
    background-color: #efefef;
    float: left;
    /* position: absolute;
    bottom: 0px; */
}
.footer_top{
    width: 100%;
    height: 40px;
    padding: 8px 0px 0px;
    background-color: #6a6665;
}

.footerlogo{
    width: 1200px;
    margin: 0 auto;
}
.footerlogo li{
    width: 210px;
    float: left;
    margin: 0 auto;
    
}

.img_footer{
    float: left;
    margin: 0 30px;
}

.footer_mid{
    width: 100%;
    height: 131px;

    margin-bottom: 20px;
}

.mid{
    width: 1100px;
    height: 131px;
    padding-top: 20px;
    margin: 0px auto 0px;
}
.mid1{
    width: 170px;
    height: 131px;
    float: left;
}

.footer_mid_right ul{
    float: left;
    padding-left: 10px;
}
.footer_mid li{
    font-size: 12px;
    font-family: microsoft yahei;
    color: #000;
}
.font_mid{
    font-size: 16px !important;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer_mid_left{
    width: 35px;
    height: 131px;
    float: left;
}
.footer_mid_left img{
    display: block;
}
/* .footer_mid_left::after{
    
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
} */
.footer_bottom{
    width: 100%;
    height: 82px;
    padding-top: 10px;
    float: left;
}
.clear{
    clear: both;
}
.footer_line{
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 10px;
}
.fond_footer
{   
    text-align: center;
    font-size: 12px;
    font-family: microsoft yahei;
    color: #000;
}
.footer_bottom img{
    display: block;
    width: 457px;
    margin: 0 auto;
}